:root {
    --control-panel-height: 78px;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.map {
    /* width: 7013px;
    height: 5593px; */
    width: 3506px;
    height: 2805px;
    position: relative;
    background-image: url(../images/map.jpg);
    background-size: cover;
    transform-origin: 0 0;
    /* чтобы была красивая анимация при увеличении/уменьшении карты */
    transition: transform .3s ease-out;
}

.draggable {
    touch-action: none;
    user-select: none;
}

.container {
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 100px);
    /* хак для починки багу с размерами на safari */
    height: calc(var(--vh, 1vh) * 100 - var(--control-panel-height));
}

.light {
    position: absolute;
    height: 0;
    width: 16px;
    border-bottom: 81px solid #FFE344;
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    opacity: .7;
}
.light_blink {
    animation: light_blink 2s linear infinite;
}
.light_blink_2 {
    animation: light_blink_2 4s linear infinite;
}
.light_1 {
    top: 565px;
    left: 852px;
}
.light_2 {
    top: 751px;
    left: 1097px;
}

.control-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--control-panel-height);
}

.zoom {
    background-color: #fff;
    font-size: 24px;
}

.monument {
  position: absolute;
  top: 925px;
  left: 1420px;


  background-image: url(../images/monument.png);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;

  width: 240px;
  height: 260px;
}

.hand {
    position: absolute;
    top: 520px;
    left: 1630px;
    transform: scale(1.5);

    background-image: url(../images/hand.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    width: 346px;
    height: 260px;
}

.big-eye {
    position: absolute;
    bottom: 120px;
    left: 2140px;
    transform: scale(2);

    background-image: url(../images/eyes.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    width: 330px;
    height: 300px;
}

.dance-man {
    position: absolute;
    top: 370px;
    left: 2300px;

    background-image: url(../images/dance-man.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    width: 325px;
    height: 260px;
}

.bubbles {
    position: absolute;
    top: 780px;
    left: 2240px;

    background-image: url(../images/bubbles.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    width: 543px;
    height: 300px;
}

.cutter {
    position: absolute;
    overflow: hidden;
}

.cutter_big-head {
    position: absolute;
    top: 910px;
    left: 2950px;
}

.big-head {
    background-image: url(../images/big-head.png);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;

    width: 200px;
    height: 200px;

    animation: big_head 10s ease-in-out infinite;
}

.cutter_big-head {
    position: absolute;
    top: 910px;
    left: 2950px;
}

.big-head {
    background-image: url(../images/big-head.png);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;

    width: 200px;
    height: 200px;

    animation: big_head 10s ease-in-out infinite;
}

@keyframes big_head {
    0%, 100%{
        transform: translateY(100%);
    }

    25%, 35%, 45% {
        transform: translateY(25%);
    }
    30%, 40% {
        transform: translateY(27%);
    }

    70% {
        transform: translateY(0);
    }
}

@keyframes light_blink {
    0%, 19%, 22%, 27%, 32%, 74%, 77%, 100% {
        opacity: .7;
    }

    20%, 25%, 30%, 75% {
        opacity: 0;
    }
}

@keyframes light_blink_2 {
    0%, 19%, 22%, 27%, 100% {
        opacity: .7;
    }

    20%, 25% {
        opacity: 0;
    }
}
