:root {
    --control-panel-height: 78px;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.map {
    /* width: 7013px;
    height: 5593px; */
    width: 3506px;
    height: 2805px;
    position: relative;
    background-image: url(../images/map.jpg);
    background-size: cover;
    transform-origin: 0 0;
    /* чтобы была красивая анимация при увеличении/уменьшении карты */
    transition: transform .3s ease-out;
}

.draggable {
    touch-action: none;
    user-select: none;
}

.container {
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 100px);
    /* хак для починки багу с размерами на safari */
    height: calc(var(--vh, 1vh) * 100 - var(--control-panel-height));
}

.house {
    width: 100px;
    height: 100px;
    position: absolute;
}

.house_1 {
    background-color: red;
    top: 5%;
    left: 5%;
}

.house_2 {
    background-color: green;
    top: 20%;
    left: 20%;
}

.house_3 {
    background-color: yellow;
    top: 40%;
    left: 20%;
}

.house_4 {
    background-color: blue;
    top: 20%;
    left: 40%;
}

.house_5 {
    background-color: black;
    top: 40%;
    left: 40%;
}

.house_6 {
    background-color: magenta;
    top: 0;
    right: 0;
}
.house_7 {
    background-color: magenta;
    bottom: 0;
    right: 0;
}
.house_8 {
    background-color: magenta;
    bottom: 0;
    left: 0;
}

.control-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--control-panel-height);
}

.zoom {
    background-color: #fff;
    font-size: 24px;
}
