:root {
    --control-panel-height: 78px;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.map {
    /* width: 7013px;
    height: 5593px; */
    width: 3506px;
    height: 2805px;
    position: relative;
    background-image: url(../images/map.jpg);
    background-size: cover;
    transform-origin: 0 0;
    /* чтобы была красивая анимация при увеличении/уменьшении карты */
    transition: transform .3s ease-out;
}

.draggable {
    touch-action: none;
    user-select: none;
}

.container {
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 100px);
    /* хак для починки багу с размерами на safari */
    height: calc(var(--vh, 1vh) * 100 - var(--control-panel-height));
}

.light {
    position: absolute;
    height: 0;
    width: 16px;
    border-bottom: 81px solid #FFE344;
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    opacity: .7;
}
.light_blink {
    animation: light_blink 2s linear infinite;
}
.light_blink_2 {
    animation: light_blink_2 4s linear infinite;
}
.light_blink_3 {
    animation: light_blink_3 4s linear infinite;
}
.light_blink_4 {
    animation: light_blink_4 2s linear infinite;
}
.light_blink_5 {
    animation: light_blink_5 2s linear infinite;
}
.light_blink_6 {
    animation: light_blink_6 4s linear infinite;
}
.light_blink_7 {
    animation: light_blink_7 6s linear infinite;
}
.light_blink_8 {
    animation: light_blink_8 5s linear infinite;
}
.light_blink_9 {
    animation: light_blink_9 2s linear infinite;
}
.light_blink_10 {
    animation: light_blink_10 2s linear infinite;
}
.light_blink_11 {
    animation: light_blink_11 2s linear infinite;
}

.light_1 {
    top: 565px;
    left: 852px;
}
.light_2 {
    top: 751px;
    left: 1097px;
}
.light_3 {
    top: 1195px;
    left: 593px;
}
.light_4 {
    top: 416px;
    left: 2161px;
}
.light_5 {
    top: 832px;
    left: 2968px;
}
.light_6 {
    top: 2150px;
    left: 2407px;
}
.light_7 {
    top: 2286px;
    left: 2066px;
}
.light_8 {
    top: 2301px;
    left: 1489px;
}
.light_9 {
    top: 2207px;
    left: 792px;
}
.light_10 {
    top: 2071px;
    left: 592px;
}
.light_11 {
    top: 1544px;
    left: 445px;
}


.control-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--control-panel-height);
}

.zoom {
    background-color: #fff;
    font-size: 24px;
}

.monument {
  position: absolute;
  top: 925px;
  left: 1420px;


  background-image: url(../images/monument.png);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;

  width: 240px;
  height: 260px;
}

.hand {
    position: absolute;
    top: 520px;
    left: 1630px;
    transform: scale(1.5);

    background-image: url(../images/hand.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    width: 346px;
    height: 260px;
}

.fire {
    position: absolute;
    top: 66px;
    left: 1882px;
    transform: scale(1.5);

    background-image: url(../images/fire.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    width: 800px;
    height: 274px;
}

.big-eye {
    position: absolute;
    bottom: 120px;
    left: 2140px;
    transform: scale(2);

    background-image: url(../images/eyes.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    width: 330px;
    height: 300px;
}

.dance-man {
    position: absolute;
    top: 370px;
    left: 2300px;

    background-image: url(../images/dance-man.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    width: 325px;
    height: 260px;
}

.bubbles {
    position: absolute;
    top: 780px;
    left: 2240px;

    background-image: url(../images/bubbles.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    width: 543px;
    height: 300px;
}

.cutter {
    position: absolute;
    overflow: hidden;
}

.cutter_big-head {
    position: absolute;
    top: 910px;
    left: 2950px;
}

.big-head {
    background-image: url(../images/big-head.png);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;

    width: 200px;
    height: 200px;

    animation: big_head 10s ease-in-out infinite;
}

.cutter_big-head {
    position: absolute;
    top: 910px;
    left: 2950px;
}

.fly-monster {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/flymonster.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    width: 256px;
    height: 209px;

    animation: fly-monster 30s ease-in-out infinite;
}

@keyframes big_head {
    0%, 100%{
        transform: translateY(100%);
    }

    25%, 35%, 45% {
        transform: translateY(25%);
    }
    30%, 40% {
        transform: translateY(27%);
    }

    70% {
        transform: translateY(0);
    }
}

@keyframes light_blink {
    0%, 19%, 22%, 27%, 32%, 74%, 77%, 100% {
        opacity: .7;
    }

    20%, 25%, 30%, 75% {
        opacity: 0;
    }
}

@keyframes light_blink_2 {
    0%, 19%, 22%, 27%, 100% {
        opacity: .7;
    }

    20%, 25% {
        opacity: 0;
    }
}

@keyframes light_blink_3 {
    0%, 10%, 22%, 30%, 100% {
        opacity: .7;
    }

    20%, 25% {
        opacity: 0;
    }
}

@keyframes light_blink_4 {
    0%, 20%, 27%, 38%, 100% {
        opacity: .7;
    }

    20%, 25% {
        opacity: 0;
    }
}
@keyframes light_blink_5 {
    0%, 30%, 38%, 40%, 100% {
        opacity: .7;
    }

    30%, 36% {
        opacity: 0;
    }
}
@keyframes light_blink_6 {
    0%, 20%, 30%, 40%, 100% {
        opacity: .7;
    }

    20%,30% {
        opacity: 0;
    }
}
@keyframes light_blink_7 {
    0%, 19%, 22%, 27%, 100% {
        opacity: .7;
    }

    20%, 25% {
        opacity: 0;
    }
}

@keyframes light_blink_8 {
    0%, 10%, 22%, 30%, 100% {
        opacity: .7;
    }

    40%, 50% {
        opacity: 0;
    }
}

@keyframes light_blink_9 {
    0%, 30%, 40%, 50%, 100% {
        opacity: .7;
    }

    50%, 80% {
        opacity: 0;
    }
}

@keyframes light_blink_10 {
    0%, 10%, 40%, 80%, 100% {
        opacity: .7;
    }

    40%, 100% {
        opacity: 0;
    }
}

@keyframes light_blink_11 {
    0%, 10%, 22%, 30%, 100% {
        opacity: .7;
    }

    22%, 35% {
        opacity: 0;
    }
}

@keyframes fly-monster {
    0% {
        top: 20%;
        left: -300px;
    }

    50% {
        top: 30%;
        left: 40%;
    }

    100% {
        top: 70%;
        left: calc(100% + 300px);
    }
}
